h1 {
	font-weight: bold;
	font-size: 24px;
}

body, html {
	height: 100%;
	margin: 0;
}

.bg {
	background-image: url("");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.content {
	float: left;
	width: 100%;
	max-width: 300px;
	height: 500px;
	border: 3px dashed;
	text-align: center;
	background: rgba(0,0,0,1);

}

#container {
	width: 100%;
	max-width: 650px;
	text-align: center;
	margin: 0 auto;
	clear: both;
}

#guessedLetters {
	max-width: 650px;
}

#instructions {
	text-align: left;
}

#winText, #loseText {
	font-size: 19px;
	font-weight: bold;
}

#currentWord {
	letter-spacing: 2.5px;
	word-spacing: 15px;

}

#imageHolder {
	width: 150px;
}